<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path("unsplash-1.jpg") %>')">
  <div class="banner-content">
    <h1>WELCOME TO MR. WOK FOOD REVIEWS</h1>
    <p>Add your favourite restaurants and rate your favorite place.</p>
    <div class="divider"></div>
      <%= link_to "Get in", restaurants_path, class: "btn-mine" %>
  </div>
</div>
